{% extends 'base.html' %}

{% block content %}
<div class="container p-4">
	<form class="" action="{{ url_for('login', next=request.args.get('next')) }}" method="post" accept-charset="utf-8">
		{{ form.csrf_token }}
		<h3 class="text-center mb-3">Login</h3>
		
		<div class="d-flex flex-column">
			{% if form.username.errors %}
				{% for error in form.username.errors %}
					<span class="text-danger">{{ error }}</span>
				{% endfor %}
			{% endif %}
			{{ form.username(class_="form-control", style="height:46px", placeholder="Username")}}
		</div>
		<div class="d-flex flex-column mt-2">
			{% if form.password.errors %}
				{% for error in form.password.errors %}
					<span class="text-danger">{{ error }}</span>
				{% endfor %}
			{% endif %}
			{{ form.password(class_="form-control", style="height:46px", placeholder="Password")}}
		</div>
		<div class="d-flex align-items-center justify-content-between mt-3">
			<div class="mt-2 d-flex align-items-center justify-content-center gap-1">
				{{ form.remember.label }} {{ form.remember() }}	
			</div>
			<a class="link-offset-2 link-underline link-underline-opacity-0" href="/">Forgot Password</a>
		</div>
		<div class="d-flex alig-items-center mt-3">
			<button class="btn btn-primary flex-1" type="submit" style="width: 100%;">Login</button>
		</div>
		<div class="signup-wrapper d-flex align-items-center justify-content-center mt-2">
			<p>Not a member <a href="/register">Sign up</a></p>
		</div>
	</form>	
</div>
{% endblock %}
